﻿<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="~/pluto-1.0.0/index.html"><img class="logo_icon img-responsive" src="~/pluto-1.0.0/images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="~/pluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /></div>
                <div class="user_info">
                    <h6>John David</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Master</span></a>
                <ul class="collapse list-unstyled" id="dashboard">
                    <li>
                        <a asp-controller="Category" asp-action="Index"> <span>Category</span></a>
                    </li>
                    <li>
                        <a asp-controller="Variant" asp-action="Index"> <span>Variant</span></a>
                    </li>
                    <li>
                        <a asp-controller="Product" asp-action="Index"> <span>Product</span></a>
                    </li>
                </ul>
            </li>
            <li><a href="~/pluto-1.0.0/widgets.html"><i class="fa fa-clock-o orange_color"></i> <span>Widgets</span></a></li>
            <li>
                <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Elements</span></a>
                <ul class="collapse list-unstyled" id="element">
                    <li><a href="~/pluto-1.0.0/general_elements.html">> <span>General Elements</span></a></li>
                    <li><a href="~/pluto-1.0.0/media_gallery.html">> <span>Media Gallery</span></a></li>
                    <li><a href="~/pluto-1.0.0/icons.html">> <span>Icons</span></a></li>
                    <li><a href="~/pluto-1.0.0/invoice.html">> <span>Invoice</span></a></li>
                </ul>
            </li>
            <li><a href="tables.html"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
            <li>
                <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
                <ul class="collapse list-unstyled" id="apps">
                    <li><a href="email.html">> <span>Email</span></a></li>
                    <li><a href="calendar.html">> <span>Calendar</span></a></li>
                    <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                </ul>
            </li>
            <li><a href="~/pluto-1.0.0/price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>
            <li>
                <a href="~/pluto-1.0.0/contact.html">
                    <i class="fa fa-paper-plane red_color"></i> <span>Contact</span>
                </a>
            </li>
            <li class="active">
                <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                <ul class="collapse list-unstyled" id="additional_page">
                    <li>
                        <a href="~/pluto-1.0.0/profile.html">> <span>Profile</span></a>
                    </li>
                    <li>
                        <a href="~/pluto-1.0.0/project.html">> <span>Projects</span></a>
                    </li>
                    <li>
                        <a href="~/pluto-1.0.0/login.html">> <span>Login</span></a>
                    </li>
                    <li>
                        <a href="~/pluto-1.0.0/404_error.html">> <span>404 Error</span></a>
                    </li>
                </ul>
            </li>
            <li><a href="~/pluto-1.0.0/map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
            <li><a href="~/pluto-1.0.0/charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
            <li><a href="~/pluto-1.0.0/settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
        </ul>
    </div>
</nav>